
.footer{
    background-color: #161f1e;
    display: flex;
    flex-direction: column;
    padding: 4vw 6vw;
}

.footer-bottom {
    margin-bottom: 3vw;
    color:hsla(0,0%,100%,.75);
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-data > span {
    padding-bottom: 15px;
}

.footer-data{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
}

.col{
    margin-left: 8vw;
}


@media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col p {
      font-size: 14px;
    }
  }
  
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col p {
      font-size: 14px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}