*{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.section1{
    height:100%;
    width: 100%;
}
.title{
    color: black;
    text-transform: capitalize;
    font-size:30px;
}
.discription{
    font-size:16px;
    color:#777777;
    
}
.title1{
    font-size: calc(1.0px + 2.56667vw);
    margin: -8vh 10vw 10vh 6vw;
}

.text{
    color: #777777;
    font-size: calc(1.0px + 1.5vw);
    text-align: left;
    margin: 12vh 10vw 50vh 6vw;
}

.section-2{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(../Assets/homePage/S-2\ Background-Image.jpg);
}

.left_section{
    width: 45%;
}
.leftSection_image img{
    margin: 12vh 10vw 50vh 6vw;
    height: 65%;
    width: 65%;
}

.right-part{
    width: 45%;
}

.right-part img{
   margin: 12vh 10vw 0vh 6vw;
    width: 80%;
    height: 100%;
}

.section-5{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.name-tag{
    color: white;
    z-index: 1;
    margin: -55vh 0vw 0vh 13vw;
    /* font-size: 350%; */
    font-size: 50px;
}